@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Vollkorn", serif; LOGO*/
/* font-family: "Signika Negative", sans-serif; BUTTONS*/
/* font-family: "Work Sans", sans-serif; TEXTO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-family: "Work Sans", sans-serif;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #20A4F3;
}

h1, h2, h3, h4, h5, h6 {
    padding: 15px 0 13px 0;
}

/* Header */

.header{
    background-color: #03012C;
    display: flex;
    justify-content: center;
}

header{
    background-color: #03012C;
    height: 50px;
    width: clamp(300px, 80%, 960px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "Vollkorn", serif;
}

header a.logo *{
    color: #EAEAEA;
    font-size: 24px;
}

header .logo img{
    max-height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

header nav{
    /* width: clamp(300px, 20%, 500px); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav a.nav-btn{
    color: #EAEAEA;
    font-family: "Signika Negative", sans-serif;
    height: 100%;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    transition: all 100ms ease-in;
    position: relative;
    overflow: hidden;
}

header nav a.nav-btn:hover{
    background-color: #EAEAEA33;
}

header nav a.nav-btn .dashed{
    width: 100%;
    height: 3px;
    background-color: #20A4F3;
    position: absolute;
    bottom: 0;
    transform: translateX(100%);

    transition: all 200ms ease-in-out;
}

header nav a.nav-btn:hover .dashed{
    transform: translateX(-15px);
}

header nav a.nav-btn.active {
    color: #20A4F3;
}

.title-container{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container h1, .title-container h2{
    width: 100vw;
    height: 100%;
    font-size: 36px;
    padding: 0 calc((100vw - clamp(300px, 80%, 960px))/2);

    /* width: clamp(300px, 80%, 960px);
    padding: 30px; */
    color: #EAEAEA;
    display: flex;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

/* Content */

main {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

main .wrap p {
    text-align: justify;
}

main .wrap p a{
    text-decoration: none;
}

main .wrap p a:hover{
    text-decoration: underline;
}

.wrap{
    width: clamp(300px, 80%, 960px);
    padding: 30px 0;
}

.card-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.card{
    width: clamp(200px, 30%, 100%);
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 3px;

    transition: all 200ms ease-in;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card .media-card {
    width: calc(clamp(200px, 100%, 100%) - 20px);
    margin: 10px;
    position: relative;

    border-radius: 3px;
}

.card .media-card img {
    width: 100%;
    border-radius: 3px;
}

.card .media-card h4.media-card-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-image: #292929D9; */
    background-image: linear-gradient(to top, #292929, #292929D9);
    color: #EAEAEA;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.card .desc-card{
    width: calc(clamp(200px, 100%, 100%) - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03012C;
}

footer a:hover{
    text-decoration: dashed;
}

footer .content-footer{
    background-color: #03012C;
    color: #EAEAEA;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: clamp(300px, 80%, 960px);
}
footer .content-footer .content-footer-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

footer .deep-footer{
    background-color: #03012C;
    display: flex;
    justify-content: center;
    color: #EAEAEA;
    padding: 5px;
}

.logo-ifsp{
    width: clamp(70px, 100%, 300px);
    margin: 10px;
    border-radius: 15px;
}

footer a:hover{
    text-decoration: underline;
}

/* Forms */

form{
    border-top: 1px solid #03012C;
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
}

form .form-row{
    display: flex;
    gap: 15px;
}

form .form-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    justify-content: start;
}

form .form-column input, form .form-column select{
    margin-bottom: 5px;
    padding: 7px;
    background-color: transparent;
    border: 1px solid rgba(150,150,150,0.5);
}

.submitBtn{
    width: 100%;
    padding: 14px;
    margin-top: 7px;
    border: 1px solid rgba(150,150,150,0.5);
    background-color: #03012C;
    color: #EAEAEA;
    transition: all 200ms ease;
}

.submitBtn:hover{
    cursor: pointer;
    background-color: #03012CEE;
}

/* Mobile */

@media screen and (max-width: 1100px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .header{
        height: 100px;
        padding: 7px 0;
    }
    header .logo{
        height: 50px;
        font-size: 18px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .logo img{
        height: 30px;
    }
    header .logo h1, header .logo h2{
        font-size: 14px;
        padding: 5px;
    }
    header a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav{
        height: 50%;
        width: clamp(300px, 80%, 960px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav a.nav-btn{
        padding: 0 10px;
        font-size: 14px;
    }
    .title-container h1, .title-container h2{
        font-size: 24px;
    }

    footer .content-footer {
        flex-direction: column;
    }

    footer .content-footer .content-footer-column{
        width: 100%;
    }

    main{
        padding: 25px 0;
    }
    form .form-row{
        flex-direction: column;
    }

    form .form-column{
        width: 100%;
    }
}