/* .artfact{} */

.tag{
    padding: 3px;
}

hr{
    margin: 15px 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5)
}

dl{
    border-left: 4px solid rgba(100, 100, 100);
    padding: 10px;
    background-color: #E9E9E9;
}

dt{
    font-size: 1.1rem;
    font-weight: bold;
}

dd{
    padding-left: 20px;
    margin-bottom: 15px;
}

dd:last-child{
    margin-bottom: 0;
}

dt::before, .tag-area > *::before{
    content: '#';
}

dt.motherboard, span.motherboard{
    background: #ead1dc;
    color: #a64d79;
}

dt.videocard, span.videocard{
    background: #fff2cc;
    color: #f1c232;
}

dt.storage, span.storage{
    background: #d9ead3;
    color: #38761d;
}

dt.internal-components, span.internal-components{
    background: #fce5cd;
    color: #b45f06;
}

dt.peripheral, span.peripheral{
    background: #d0e0e3;
    color: #134f5c;
}

dt.printer, span.printer{
    background: #d9d2e9;
    color: #351c75;
}

dt.mobile, span.mobile{
    background: #d9d2e9;
    color: #741b47;
}

dt.computer, span.computer{
    background: #d9d2e9;
    color: #990000;
}

dt.notebook, span.notebook{
    background: #f4cccc;
    color: #990000;
}

.gallery-area{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    margin: 5px 5px 5px 0;
    border-radius: 25px;
}

.gallery-area img{
    margin: 3px;
    width: clamp(300px, 30%, 30vw);
    border-radius: 25px;
}

.tag-area{
    margin: 5px 0;
}

.tag-area > * {
    margin: 5px;
}

.artfact-collection{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.artfact-container{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.artfact-container.extended{
    width: 100%;
}

.artfact-container .gallery-area img{
    width: 90%;
}
p{
    margin: inherit;
}

.wrap a.returnAnchor{
    color: #EAEAEA;
    background-color: #03012C;
    padding: 5px;
    border-radius: 5px;
    /* position: absolute; */
}

div.returnAnchor{
    
    margin: 15px 0;
}